<h1 class="text-center text-3xl font-extrabold text-slate-700 mt-12">New invoice</h1>

<%= render "form", invoice: @invoice %>

<br>

<div class="mb-10">
  <%= link_to "Back to invoices", invoices_path %>
</div>
